body{
    font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    margin: 0px;
  }
  .homepage {
      list-style-type: none;
      padding-inline-start: 0pt;
  }

  .title_home{
      text-align: center;
      font-weight: 300;
      font-size: 22px;
      color: #505050;
  }
  .theGrid{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: auto;
    padding-top: 20px;
    padding-right: 50px;
    padding-left: 50px;
    justify-items: center;
    grid-row-gap: 10%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1pt solid grey;
    box-shadow: 10px 10px 5px grey;
    color: #505050;
    text-decoration: none;
}
body {
	background: linear-gradient(45deg,#D8D8D8 ,#E0E0E0, #F5F5F5, white );
	/* background-size: 400% 400%; */
	height: 100vh;
}



  