body{
    font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    margin: 0px;
  }
  .homepage {
      list-style-type: none;
      padding-inline-start: 0pt;
  }

  .title_home{
      text-align: center;
      font-weight: 300;
      font-size: 22px;
      color: #505050;
  }
  .theGrid{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto;
    padding-top: 20px;
    padding-right: auto;
    padding-left: auto;
    justify-items: center;
    grid-row-gap: 5%;
}
.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: 1pt solid grey;
    box-shadow: 10px 10px 5px black; */
    color: #505050;
    text-decoration: none;
}
body {
	/* background: linear-gradient(20deg,rgb(108, 108, 239),#D8D8D8 , #F5F5F5  ); */
	/* background-size: 400% 400%; */
	/* height: 100vh; */
    /* background-image: url("../HomePage/original.jpeg");
    background-size:cover; */
    background-repeat: no-repeat;
    /* background-color: rgb(89, 140, 241); */
}
button{
    cursor: pointer;
}
/* html{
    background: url("../HomePage/original.jpeg") no-repeat center fixed;
  background-size: cover;
} */
img {
    width: 300px;
    height: 300px;
    border-radius: 25px;
    padding-bottom: 5px;
}
.logo1{
    width: 60px;
    height: 60px;
}

  