

.nav__group{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    padding: 0;
    border-bottom: 1px solid darkgray;
  }
  
  .nav__buttons{
    display: inline-flex;
    
    border: 0;
    cursor: pointer;
    text-decoration: none;
    align-items: right;
    text-align: center;
    /* background-color: hsla(0,0%,100%,.3); */
    box-shadow: none;
    color:black;
    line-height: 32px;
    margin: 0 0 0 0;
    transition: .1s ease;
    white-space: nowrap;
    padding: 20px 40px 20px 40px;
    height: 30px;
    font-size: 15px;
    
  }
  .nav__buttons:hover{
    color: white;
    background-color:#FF5A5F; 
    
  }
  
  .profile-dropdown{
      display: inline-block;
      padding-top: 15px;
      padding-bottom: 5px;
      
  }

  .logo {
    
    display: inline block;
    text-align: left;
    left: 160px;
    font-size: 20pt;
    position: absolute;
    top:18px;
    font-weight: bolder;
    color:#FF5A5F ;
  }
  p {
    margin: 0
  }
 ul{
   margin: 0 0 0 0
 }
  
  body{
    font-family: 'Segoe UI', 'Roboto', 'Noto Sans', 'Ubuntu', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    margin: 0px;
  }
  .logo1 {
   
    display: inline block;
    text-align: left;

    left: 100px;

    position: absolute;
    top:8px;
    font-weight: bolder;
    color:black ;
  }

  @media (max-width: 920px) {
    .logo{
        display: none;
    }
  }
  @media (max-width: 750px) {
    .logo1{
        display: none;
    }
  }

 
  